.page-content {
    display: grid;
    gap: calc($spacer-xl * 2);
    padding: calc($g-header-size + $spacer-md) 0;
    place-items: center;
    margin-bottom: $spacer-xl;

    &>div {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    &__light {
        display: grid;
        gap: calc($spacer-xl * 2);
        padding: calc($g-header-size + $spacer-md) 0;
        place-items: center;
        margin-bottom: $spacer-xl;

        
        background: $color-light;
        padding: $spacer-xl $spacer-md;
        border-radius: $g-radius;
        margin-top: -50px;
    }
}