.page-content {
    display: grid;
    gap: $spacer-xl;
    padding-top: calc($g-header-size + $spacer-md);

    .block:first-of-type {
        max-height: calc(100vh - $g-header-size - $spacer-md - $spacer-sm);
    }
}