.card__container {
    grid-gap: $spacer-lg;
     background: $color-secondary;
     border-radius: 25px;

    .img__group {
        width: 100%;
        height: 150px;
        @include media-style;
    }
    .txt__group {
        padding: $spacer-md;
    }
}