.header {
    padding: $spacer-sm;
    position: fixed;
    z-index: 20;
    .logo {
        width: 100px;
        height: 42px;
    }
    .header__group {
        background: $color-light;
        padding: $spacer-sm $spacer-lg;
        border-radius: 50px;
        height: $g-header-size;
        display: flex;
        justify-content: space-between;
        border: 1px solid $color-white;
    }
}