.block {
    place-content: center;

    &.blk__media {
        display: flex;
        @include media-style;
    }

    &.blk__richtext {
        display: grid;
        height: 100%;

        * {
            margin-top: $spacer-sm;
        }

        a {
            @include button-style("primary");
        }
    }

    &.blk__double {
        grid-gap: $spacer-lg;

        &.reverse {
            direction: rtl;

            &>* {
                direction: ltr;
            }
        }
    }




}