.block {

    &.blk__media {
        display: flex;
        @include media-style;
        max-height: calc(100vh - $g-header-size - $spacer-md - $spacer-sm);
    }

    &.blk__richtext {
        display: flex;
        height: 100%;
        max-width: $md-w;
        align-items: center;
        
        *:not(:first-child) {
            margin-top: $spacer-sm;
        }
        a {
            margin-top: $spacer-lg;
        }
        a {
            @include button-style("primary");
        }
    }

    &.blk__double {
        grid-gap: $spacer-lg;

        .block {
            place-content: center;
        }
        &.reverse {
            direction: rtl;

            &>* {
                direction: ltr;
            }
        }
    }

    &.blk__multiple {
        width: 100%;
        place-content: center;
        grid-gap: $spacer-lg;
    }

}