.block {
    
    &__media {
        display: grid;
        place-content: center;
        @include media-style;
    }
    &__richtext {
        height: 100%;
        display: grid;
        place-content: center;
        * {
            margin-top: $spacer-sm;
        }
        a {
            @include button-style("primary");
        }
    }

    &.grid {
        grid-gap: $spacer-lg;
    }
    &.reverse {
        direction: rtl;
    }
}