
.hero__post {
    height: 100vh;
    display: grid;
    place-items: center;
    place-content: center;
    grid-gap: $spacer-lg;
    .img__group {
        max-width: 600px;
        max-height: 300px;
        @include media-style;
    }
}