/*
 * Grid generator
 */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: $spacer-sm;
    column-gap: $spacer-sm;

    @media #{$md}{
        grid-template-columns: 1fr;
    }
}


@for $n from 2 through 12 {
    .grid-#{$n} {
        grid-column: span #{$n};
        display: grid;
    }
}